<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8ea53cf2-6e66-45eb-bda6-fda064d1a169/resourceGroups/FSE-Eauction-Buyer_group/providers/Microsoft.Web/sites/FSE-Eauction-Buyer</ResourceId>
    <ResourceGroup>FSE-Eauction-Buyer_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fse-eauction-buyer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>2dde23d6-a427-4198-87c3-bc4f57d90ced</ProjectGuid>
    <PublishUrl>https://fse-eauction-buyer.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FSE-Eauction-Buyer</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>